/* ABOUT PAGE */ 
.about{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  
  .photo{
    width: 300px;
  }
  aside.presentation{
    display: grid;
    grid-template-columns: 1fr ;
    justify-items: center;
    align-items: center;
    margin: 15px;
  }
  .right-part {
    margin: 2em;
  }